In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/washingtonpost/data-school-shootings/master/school-shootings-data.csv')

In [15]:
# We will start with seeing the structure to fully understand what kind of data we have.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 50 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   uid                               416 non-null    int64
 1   nces_school_id                    410 non-null    object
 2   school_name                       416 non-null    object
 3   nces_district_id                  392 non-null    float64
 4   district_name                     391 non-null    object
 5   date                              416 non-null    object
 6   school_year                       416 non-null    object
 7   year                              416 non-null    int64
 8   time                              386 non-null    object
 9   day_of_week                       416 non-null    object
 10  city                              416 non-null    object
 11  state                             416 non-null    object
 12  school_type                       416 non-null    object
 13  enrollment                        416 non-null    object
 14  killed                            416 non-null    int64
 15  injured                           416 non-null    int64
 16  casualties                        416 non-null    int64
 17  shooting_type                     416 non-null    object
 18  age_shooter1                      288 non-null    float64
 19  gender_shooter1                   320 non-null    object
 20  race_ethnicity_shooter1           149 non-null    object
 21  shooter_relationship1             279 non-null    object
 22  shooter_deceased1                 264 non-null    float64
 23  deceased_notes1                   41 non-null     object
 24  age_shooter2                      12 non-null     float64
 25  gender_shooter2                   12 non-null     object
 26  race_ethnicity_shooter2           7 non-null      object
 27  shooter_relationship2             6 non-null      object
 28  shooter_deceased2                 6 non-null      float64
 29  deceased_notes2                   1 non-null      object
 30  white                             406 non-null    float64
 31  black                             406 non-null    object
 32  hispanic                          406 non-null    object
 33  asian                             406 non-null    float64
 34  american_indian_alaska_native     405 non-null    float64
 35  hawaiian_native_pacific_islander  291 non-null    float64
 36  two_or_more                       291 non-null    float64
 37  resource_officer                  416 non-null    int64
 38  weapon                            254 non-null    object
 39  weapon_source                     105 non-null    object
 40  lat                               415 non-null    float64
 41  long                              415 non-null    float64
 42  staffing                          391 non-null    float64
 43  low_grade                         411 non-null    object
 44  high_grade                        411 non-null    object
 45  lunch                             364 non-null    object
 46  county                            414 non-null    object
 47  state_fips                        416 non-null    int64
 48  county_fips                       416 non-null    int64
 49  ulocale                           413 non-null    float64
dtypes: float64(14), int64(8), object(28)
memory usage: 162.6+ KB

In [17]:
df.head()

,uid,nces_school_id,school_name,nces_district_id,district_name,date,school_year,year,time,day_of_week,...,lat,long,staffing,low_grade,high_grade,lunch,county,state_fips,county_fips,ulocale
0,1,080480000707,Columbine High School,804800.0,Jefferson County R-1,4/20/1999,1998-1999,1999,11:19 AM,Tuesday,...,39.603910,-105.075000,89.6,9,12,41,Jefferson County,8,8059,21.0
1,2,220054000422,Scotlandville Middle School,2200540.0,East Baton Rouge Parish School Board,4/22/1999,1998-1999,1999,12:30 PM,Thursday,...,30.529958,-91.169966,39.0,6,8,495,East Baton Rouge Parish,22,22033,12.0
2,3,130441001591,Heritage High School,1304410.0,Rockdale County,5/20/1999,1998-1999,1999,8:03 AM,Thursday,...,33.626922,-84.047960,84.0,9,12,125,Rockdale County,13,13247,21.0
3,4,421899003847,John Bartram High School,4218990.0,Philadelphia City SD,10/4/1999,1999-2000,1999,10:00 AM,Monday,...,39.921509,-75.234108,41.0,9,12,2007,Philadelphia County,42,42101,11.0
4,5,250279000225,Dorchester High School,2502790.0,Boston,11/3/1999,1999-2000,1999,7:40 AM,Wednesday,...,42.285268,-71.075901,NaN,9,12,543,Suffolk County,25,25025,11.0

In [19]:
df.describe()

,uid,nces_district_id,year,killed,injured,casualties,age_shooter1,shooter_deceased1,age_shooter2,shooter_deceased2,...,american_indian_alaska_native,hawaiian_native_pacific_islander,two_or_more,resource_officer,lat,long,staffing,state_fips,county_fips,ulocale
count,416.000000,3.920000e+02,416.000000,416.000000,416.000000,416.000000,288.000000,264.000000,12.000000,6.000000,...,405.000000,291.000000,291.000000,416.000000,415.000000,415.000000,391.000000,416.000000,416.000000,413.000000
mean,209.423077,2.694805e+06,2014.875000,0.507212,1.105769,1.598558,19.194444,0.159091,16.916667,0.166667,...,8.022222,4.896907,31.941581,0.252404,37.062351,-92.062962,61.911803,26.793269,26891.533654,19.760291
std,121.550243,1.640656e+06,7.595417,2.105631,2.155042,3.720979,9.624503,0.366456,1.505042,0.408248,...,25.097868,22.619408,38.138134,0.434915,5.143002,15.462439,39.380266,16.169451,16204.451776,10.643981
min,1.000000,1.000080e+05,1999.000000,0.000000,0.000000,0.000000,6.000000,0.000000,15.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,21.310400,-157.837200,3.000000,1.000000,1009.000000,11.000000
25%,104.750000,1.200772e+06,2008.000000,0.000000,0.000000,0.000000,15.000000,0.000000,15.750000,0.000000,...,0.000000,0.000000,5.000000,0.000000,33.639161,-97.426867,31.210000,12.000000,12084.500000,11.000000
50%,208.500000,2.613140e+06,2018.000000,0.000000,1.000000,1.000000,16.000000,0.000000,17.000000,0.000000,...,2.000000,1.000000,17.000000,0.000000,37.006300,-87.575184,55.300000,26.000000,26118.000000,13.000000
75%,312.250000,4.202384e+06,2021.000000,0.000000,1.000000,1.000000,19.000000,0.000000,18.000000,0.000000,...,6.000000,2.000000,47.000000,1.000000,40.707107,-80.824653,86.500000,41.000000,41051.000000,22.000000
max,422.000000,5.516470e+06,2024.000000,26.000000,21.000000,34.000000,72.000000,1.000000,20.000000,1.000000,...,331.000000,338.000000,199.000000,1.000000,61.213281,-70.952603,227.180000,55.000000,55139.000000,43.000000