# Load Data

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/washingtonpost/data-school-shootings/master/school-shootings-data.csv')

# Data Cleaning

In [15]:
# We will start with seeing the structure to fully understand what kind of data we have.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 50 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   uid                               416 non-null    int64
 1   nces_school_id                    410 non-null    object
 2   school_name                       416 non-null    object
 3   nces_district_id                  392 non-null    float64
 4   district_name                     391 non-null    object
 5   date                              416 non-null    object
 6   school_year                       416 non-null    object
 7   year                              416 non-null    int64
 8   time                              386 non-null    object
 9   day_of_week                       416 non-null    object
 10  city                              416 non-null    object
 11  state                             416 non-null    object
 12  school_type                       416 non-null    object
 13  enrollment                        416 non-null    object
 14  killed                            416 non-null    int64
 15  injured                           416 non-null    int64
 16  casualties                        416 non-null    int64
 17  shooting_type                     416 non-null    object
 18  age_shooter1                      288 non-null    float64
 19  gender_shooter1                   320 non-null    object
 20  race_ethnicity_shooter1           149 non-null    object
 21  shooter_relationship1             279 non-null    object
 22  shooter_deceased1                 264 non-null    float64
 23  deceased_notes1                   41 non-null     object
 24  age_shooter2                      12 non-null     float64
 25  gender_shooter2                   12 non-null     object
 26  race_ethnicity_shooter2           7 non-null      object
 27  shooter_relationship2             6 non-null      object
 28  shooter_deceased2                 6 non-null      float64
 29  deceased_notes2                   1 non-null      object
 30  white                             406 non-null    float64
 31  black                             406 non-null    object
 32  hispanic                          406 non-null    object
 33  asian                             406 non-null    float64
 34  american_indian_alaska_native     405 non-null    float64
 35  hawaiian_native_pacific_islander  291 non-null    float64
 36  two_or_more                       291 non-null    float64
 37  resource_officer                  416 non-null    int64
 38  weapon                            254 non-null    object
 39  weapon_source                     105 non-null    object
 40  lat                               415 non-null    float64
 41  long                              415 non-null    float64
 42  staffing                          391 non-null    float64
 43  low_grade                         411 non-null    object
 44  high_grade                        411 non-null    object
 45  lunch                             364 non-null    object
 46  county                            414 non-null    object
 47  state_fips                        416 non-null    int64
 48  county_fips                       416 non-null    int64
 49  ulocale                           413 non-null    float64
dtypes: float64(14), int64(8), object(28)
memory usage: 162.6+ KB

In [71]:
df[[
    'nces_school_id', 
    'district_name', 
    'time', 
    'gender_shooter1',
    'race_ethnicity_shooter1',
    'shooter_relationship1',
    'deceased_notes1',
    'gender_shooter2',
    'race_ethnicity_shooter2',
    'shooter_relationship2',
    'deceased_notes2',
    'black',
    'hispanic',
    'weapon',
    'weapon_source',
    'low_grade',
    'high_grade',
    'lunch',
    'county']].mode()
# As a rule in BI when there is more than one most used in the data set, we then take the first one.

,nces_school_id,district_name,time,gender_shooter1,race_ethnicity_shooter1,shooter_relationship1,deceased_notes1,gender_shooter2,race_ethnicity_shooter2,shooter_relationship2,deceased_notes2,black,hispanic,weapon,weapon_source,low_grade,high_grade,lunch,county
0,010237000962,Los Angeles Unified,12:00 PM,m,w,student,suicide,m,b,student,suicide,4,0,handgun,father,9,12,268,Los Angeles County
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,377,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,495,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,502,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,569,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,775,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,941,NaN

In [97]:
df['nces_school_id'] = df['nces_school_id'].fillna(df['nces_school_id'].mode())
df['district_name'] = df['district_name'].fillna(df['district_name'].mode())

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 50 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   uid                               416 non-null    int64
 1   nces_school_id                    416 non-null    object
 2   school_name                       416 non-null    object
 3   nces_district_id                  392 non-null    float64
 4   district_name                     391 non-null    object
 5   date                              416 non-null    object
 6   school_year                       416 non-null    object
 7   year                              416 non-null    int64
 8   time                              386 non-null    object
 9   day_of_week                       416 non-null    object
 10  city                              416 non-null    object
 11  state                             416 non-null    object
 12  school_type                       416 non-null    object
 13  enrollment                        416 non-null    object
 14  killed                            416 non-null    int64
 15  injured                           416 non-null    int64
 16  casualties                        416 non-null    int64
 17  shooting_type                     416 non-null    object
 18  age_shooter1                      288 non-null    float64
 19  gender_shooter1                   320 non-null    object
 20  race_ethnicity_shooter1           149 non-null    object
 21  shooter_relationship1             279 non-null    object
 22  shooter_deceased1                 264 non-null    float64
 23  deceased_notes1                   41 non-null     object
 24  age_shooter2                      12 non-null     float64
 25  gender_shooter2                   12 non-null     object
 26  race_ethnicity_shooter2           7 non-null      object
 27  shooter_relationship2             6 non-null      object
 28  shooter_deceased2                 6 non-null      float64
 29  deceased_notes2                   1 non-null      object
 30  white                             406 non-null    float64
 31  black                             406 non-null    object
 32  hispanic                          406 non-null    object
 33  asian                             406 non-null    float64
 34  american_indian_alaska_native     405 non-null    float64
 35  hawaiian_native_pacific_islander  291 non-null    float64
 36  two_or_more                       291 non-null    float64
 37  resource_officer                  416 non-null    int64
 38  weapon                            254 non-null    object
 39  weapon_source                     105 non-null    object
 40  lat                               415 non-null    float64
 41  long                              415 non-null    float64
 42  staffing                          391 non-null    float64
 43  low_grade                         411 non-null    object
 44  high_grade                        411 non-null    object
 45  lunch                             364 non-null    object
 46  county                            414 non-null    object
 47  state_fips                        416 non-null    int64
 48  county_fips                       416 non-null    int64
 49  ulocale                           413 non-null    float64
dtypes: float64(14), int64(8), object(28)
memory usage: 162.6+ KB